process {
	executor = 'local'
	cpus = 1
	memory = '1 GB'
	time = '1m'
	errorStrategy = 'retry'
	maxRetries = 2
}

workDir = './work'
report {
	enabled = true
	overwrite = true
	file = 'report.html'
}

timeline {
	enabled = true
	overwrite = true
	file = 'timeline.html'
}

trace {
	enabled = true
	overwrite = true
	file = 'trace.txt'
}

log {
	enabled = true
	file = 'nextflow.log'
}

params {
	str = 'Hello World'
}
